@using BlazorCosmosDataExplorer.Models

@code {
    [Parameter]
    public List<object>? FilteredResults { get; set; }

    [Parameter]
    public EventCallback<string> OnSortRequest { get; set; }

}

@if (FilteredResults != null && FilteredResults.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                @if (FilteredResults != null && FilteredResults.Any())
                {
                    var firstItem = FilteredResults.First();
                    foreach (var property in ((IDictionary<string, object>)firstItem).Keys)
                    {
                        <th @onclick="() => OnSortRequest.InvokeAsync(property)">@property</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in FilteredResults!)
            {
                <tr>
                    @foreach (var kvp in (IDictionary<string, object>)item)
                    {
                        <td>@kvp.Value?.ToString()</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No results found.</p>
}