@page "/"

<PageTitle>Cosmos Data Explorer</PageTitle>

<h1>Cosmos Data Explorer</h1>

<form @onsubmit="HandleFormSubmit">
    <textarea id="query_field" @bind="Query" @onkeydown="HandleKeyDown" rows="10"></textarea>
    <button type="button" @onclick="ProcessQuery">Search</button>
</form>

<button @onclick="DownloadExcel">Download Excel</button>

@if (Results.Count > 0)
{
    <DomainModelView Results="Results" />
}
else
{
    <p>No results found.</p>
}

@inject IJSRuntime JSRuntime

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("preventShiftEnter", "query_field");
        }
    }
}