@page "/"

<PageTitle>Cosmos Data Explorer</PageTitle>

<h1>Cosmos Data Explorer</h1>

<form @onsubmit="HandleFormSubmit">
    <textarea id="query_field" @bind="Query" @onkeydown="HandleKeyDown" rows="10"></textarea>
    <button type="button" @onclick="ProcessQuery">Search</button>
</form>

<label class="switch">
    <input type="checkbox" @bind="AppendResults">
    <span class="slider round"></span>
</label>

<button @onclick="DownloadExcel">Download Excel</button>

@if (Results.Count > 0)
{
    <DomainModelView Results=Results OnSortRequest="SortTable" />
}
else
{
    <p>No results found.</p>
}